<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/images/list.png" rel="icon" type="image/icon type">
    <link th:href="@{/css/create.css}" rel="stylesheet"/>
    <title>Opret produkt</title>
</head>

<body>

    <div>
        <div class="topnav">

            <a href="/"><img src="/images/logo.png" alt="" class="logo"></a>

            <a href="/list"><button class="nav-button-2" >CONTACT</button></a>
            <a href="/reserve"><button class="nav-button-1" >SHARE WISHLIST</button></a>

        </div>
    </div>

    <div>
        <div class="background-1">
            <p class="text-large">MAKE A WISH</p>
            <p class="text-small">Add A Wish To Your Wishlist.</p>
        </div>
    </div>

    <div class="background-products">

        <img src="/images/brands3.png" alt="" style="width:100%; margin:0;">

        <div>
            <form action="create" method="post" class="container">

                <h1>NAME</h1>
                <input class="input-field" name="product-name" type="text" placeholder="Nvidia RTX 4090 ...">

                <h1>PRICE</h1>
                <input class="input-field" name="product-price" type="number" placeholder="14000 ...">

                <h1>AMOUNT</h1>
                <input class="input-field" name="product-amount" type="number" placeholder="2 ...">

                <h1>LINK</h1>
                <input class="input-field" name="product-link" type="text" placeholder="proshop.dk ...">

                <div class="button-center">
                    <input type="submit" value="ADD WISH" class="submit-button">
                </div>

            </form>
        </div>

    </div>

    <div class="background-3">
        <div>
            <p class="text-bottom-left">DOWNLOAD APPEN</p>
            <a href=""><img src="/images/download.png" alt="" class="download"></a>

            <p class="text-bottom-right">PRIVACY POLICY</p>
            <a href=""><button class="bottom-button" >CLICK HERE</button></a>

        </div>
    </div>
</body>

</html>