<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/images/list.png" rel="icon" type="image/icon type">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <title>Opret produkt</title>
</head>

<body>
<div class="container">

    <h1>Tilføj et produkt til ønskelisten</h1>

    <form action="create" method="post">

        <p>Produkt navn</p>
        <input id="name-field" name="product-name" type="text">

        <p>Produkt pris</p>
        <input id="price-field" name="product-price" type="number">

        <p>Produkt antal</p>
        <input id="amount-field" name="product-amount" type="number">

        <p>Produkt link</p>
        <input id="link-field" name="product-link" type="text">

        <div class="button-center">
            <input type="submit" value="Opret produkt" class="addButton">
        </div>

    </form>

</div>
</body>

</html>