<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Produkter</title>
</head>
<body>

<div class="container">
    <h1>Ønskeliste</h1>

    <table>

        <thead>
        <th>ID</th>
        <th>Produktnavn</th>
        <th>Pris</th>
        <th>Opdater</th>
        <th>Slet</th>
        </thead>

        <tbody>
        <tr th:each="product : ${products}">

            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>

            <td>
                <a th:href="@{'/update/' + ${product.id}}" href="/update">Opdater</a>
            </td>

            <td>
                <a th:href="@{'/delete/' + ${product.id}}" href="/delete">Slet</a>
            </td>

        </tr>
        </tbody>

    </table>
    <a href="/create">Tilføj nyt ønske</a>
</div>

</body>
</html>