<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/images/list.png" rel="icon" type="image/icon type">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <title>Ønskeliste</title>
</head>

<body>

<div class="container">
    <h1>Ønskeliste</h1>

    <table id='products'>

        <thead>
        <tr>
            <th>Produktnavn</th>
            <th>Pris</th>
            <th>Antal</th>
            <th>Link</th>
            <th>Opdater</th>
            <th>Slet</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="product : ${products}">

            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.amount}"></td>
            <td th:text="${product.link}"></td>

            <td>
                <a th:href="@{'/update/' + ${product.id}}" href="/update"><button class="greenButton">Opdater</button></a>
            </td>

            <td>
                <a th:href="@{'/delete/' + ${product.id}}" href="/delete"><button class="greenButton">Slet</button></a>
            </td>

        </tr>
        </tbody>

    </table>
    <div class="button-center">
        <a href="/create"><button class="addButton">Tilføj Nyt Ønske</button></a>
    </div>

    <div class="button-center">
        <a href="/reserve"><button class="addButton" style="width: 185px">Del</button></a>
    </div>
</div>

</body>
</html>