<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/images/list.png" rel="icon" type="image/icon type">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <title>Kvittering</title>
</head>

<body>

<div class="container" style = "position:relative; top:100px">
    <h1>Tak for Reservationen!</h1>

    <p>Du kan nu lukke dette vindue</p>

    <div class="button-center">
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><button class="addButton">Gratis Gavekort?</button></a>
    </div>

</div>

</body>
</html>