<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <title>Reservering</title>
</head>

<body>

<div class="container">
    <h1>Reserver</h1>

    <table id='products'>

        <thead>
        <tr>
            <th>Produktnavn</th>
            <th>Pris</th>
            <th>Antal</th>
            <th>Link</th>
            <th>Reserver</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="product : ${products}">

            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.amount}"></td>
            <td th:text="${product.link}"></td>

            <td>
                <input type="checkbox" id="reserve" name="reserve" value="reserve">
            </td>
        </tr>
        </tbody>

    </table>

</div>

</body>
</html>