<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/images/list.png" rel="icon" type="image/icon type">
    <link th:href="@{/css/reserve.css}" rel="stylesheet"/>
    <title>Wish Vault</title>
</head>

<body>

    <div>
        <div class="topnav">

            <a href="/"><img src="/images/logo.png" alt="" class="logo"></a>

            <a href="/list"><button class="nav-button-2" >CONTACT</button></a>
            <a href="/list"><button class="nav-button-1" >CREATE NEW WISHLIST</button></a>

        </div>
    </div>

    <div>
        <div class="background-1">
            <p class="text-large">START YOUR WISHLIST TODAY</p>
            <p class="text-small">Choose And Reserve The Wishes You Want To Give</p>
        </div>
    </div>

    <div class="container" style = "position:relative; top:100px">

        <table>

            <thead>
            <tr>
                <th>PRODUCT</th>
                <th>PRICE</th>
                <th>AMOUNT</th>
                <th>LINK</th>
                <th>RESERVED</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="product : ${products}">

                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.amount}"></td>
                <td th:text="${product.link}"></td>
                <td th:text="${product.reserved}"></td>
                <td>
                    <a th:href="@{'/reserve/' + ${product.id}}" href="/reserve"><button style="margin-left: -100px"  class="table-button">RESERVE</button></a>
                </td>


            </tr>
            </tbody>

        </table>

        <div class="button-center">
            <a href="/reservation"><button class="submit-button">SUBMIT</button></a>
        </div>

    </div>

    <div>
        <div class="background-3">
            <div>
                <p class="text-bottom-left">DOWNLOAD APPEN</p>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="/images/download.png" alt="" class="download"></a>

                <p class="text-bottom-right">PRIVACY POLICY</p>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><button class="bottom-button" >CLICK HERE</button></a>

            </div>
        </div>
    </div>

</body>
</html>
