<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/images/list.png" rel="icon" type="image/icon type">
    <link th:href="@{/css/start.css}" rel="stylesheet"/>
    <title>Wish Vault</title>
</head>

<body>

    <div>
        <div class="topnav">

            <img src="/images/logo.png" alt="" class="logo">

            <a href="/list"><button class="nav-button-2" >CONTACT</button></a>
            <a href="/list"><button class="nav-button-1" >CREATE NEW WISHLIST</button></a>

        </div>
    </div>

    <div>
        <div class="background-1">
            <p class="text-left">START YOUR WISHLIST TODAY</p>
            <p class="text-left-small">JOIN 4 OTHER PEOPLE AND EMBARK ON YOUR WISHING JOPURNEY</p>
            <p class="text-left-small">WISH VAULT &nbsp;-&nbsp;  SECURE YOUR WISHES</p>

        </div>
    </div>

    <div class="background-products">

        <img src="/images/products.png" alt="" style="width:100%; margin:0;">

        <div class="center-button">
            <a href="/list"><button class="submit-button" >CREATE NEW WISHLIST</button></a>
        </div>

    </div>


    <div>
        <div class="background-3">
            <div>
                <p class="text-bottom-left">DOWNLOAD APPEN</p>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="/images/download.png" alt="" class="download"></a>

                <p class="text-bottom-right">PRIVACY POLICY</p>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><button class="bottom-button" >CLICK HERE</button></a>

            </div>
        </div>
    </div>


</body>
</html>