<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/images/list.png" rel="icon" type="image/icon type">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <title>Wish Vault</title>
</head>

<body>

    <div class="container" style = "position:relative; top:100px">
    <h1>WISH VAULT</h1>

    <div class="button-center">
      <a href="/list"><button class="addButton">Tilføj Ny Ønskeliste</button></a>
    </div>

    </div>

</body>
</html>