<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/images/list.png" rel="icon" type="image/icon type">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <title>Opdater produkt</title>
</head>

<body>

<div class="container">
    <h1>Opdater eksisterende produkt</h1>

    <form action="/update" method="post">
        <input id="id-field" name="product-id" type="hidden" th:value="${product.id}">

        <p>Produkt Navn</p>
        <input id="name-field" name="product-name" type="text" th:value="${product.name}">

        <p>Produkt Pris</p>
        <input id="price-field" name="product-price" type="number" th:value="${product.price}">

        <p>Produkt Antal</p>
        <input id="amount-field" name="product-amount" type="number" th:value="${product.amount}">

        <p>Produkt Link</p>
        <input id="link-field" name="product-link" type="text" th:value="${product.link}">

        <div class="button-center">
            <input class="addButton" type="submit" value="Opdater Produkt">
        </div>
    </form>

</div>
</body>
</html>